h1{
  color: whitesmoke;
  background-color: dodgerblue;
  text-align: center;
}

.parent{
  display: flex;
  justify-content: space-around;
  border: 2px solid black;
  padding-left: 1%;
  padding-right: 1%;
  margin-top:1.5%;
}
#image{
  margin-top: 0.5%;
}

#prices h4{
  text-decoration: line-through;
  text-decoration-color: aquamarine;
}
#prices h5{
  display: flex;
  text-decoration: underline;
  color: green;
}